---
# tasks file for install_bench
- name: Install a list of packages
  apt:
    pkg:
      - 'nginx'
      - 'supervisor'
      - 'python3-pip'
      - 'xfonts-75dpi'
      - 'redis-tools'
      - 'jq'
      - 'python3-testresources'
      - 'dirmngr'
      - 'apt-transport-https'
    state: present
    update_cache: yes
  become: true

- name: Install a list of packages
  apt:
    pkg:
      - 'mysql-client'
    state: present
    update_cache: yes
  become: true
  when: docker_setup == '1'

- name: Install wkhtmltopdf for ubuntu 18
  apt:
    deb: https://github.com/wkhtmltopdf/wkhtmltopdf/releases/download/0.12.5/wkhtmltox_0.12.5-1.bionic_amd64.deb
  become: True
  when: ansible_facts['distribution_major_version'] == "18"

- name: Install wkhtmltopdf for ubuntu20
  apt:
    deb: https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6-1/wkhtmltox_0.12.6-1.focal_amd64.deb
  become: True
  when: ansible_facts['distribution_major_version'] == "20"

- name: Add specified repository into sources list
  ansible.builtin.apt_repository:
    repo: ppa:deadsnakes/ppa
    state: present
  become: true
  when: ansible_facts['distribution_major_version'] == "20"

- name: Install a list of packages
  apt:
    pkg:
    - 'python3.6'
    state: present
  become: true
  when: ansible_facts['distribution_major_version'] == "20"
  

- name: Ensure supervisor launches on boot
  become: yes
  command: sudo systemctl enable supervisor nginx

- name: Ensure supervisor launches on boot
  become: yes
  command: sudo systemctl restart supervisor nginx

- name: installing bench from pip3
  pip:
    name: "{{ item }}"
    executable: pip3
  with_items:
    - "git+https://github.com/DigiThinkIT/bench.git@master"
    - "PyMySQL"
  become: yes

- name: 'Add Node.js PPA'
  tags: 'nodejs'
  become: true
  become_method: 'sudo'
  shell: "curl --silent --location https://deb.nodesource.com/setup_{{ node_version }}.x | bash -"

- name: Install nodejs {{ node_version }}
  package:
    name: nodejs
    state: present
  become: true
- name: Install "yarn" node.js package globally.
  npm:
    name: yarn
    global: yes
  become: true

# - name: adding bench and Validate the sudoers file before saving
#   lineinfile:
#     path: /etc/sudoers.d/frappe
#     state: present
#     line: '{{ user_name }} ALL = (root) /usr/local/bin/bench'
#     validate: /usr/sbin/visudo -cf %s
#   become: yes
- name: max_user_Watch
  shell: 'echo fs.inotify.max_user_watches=131072 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p'
  become: yes

- name: Ensure redis config"
  ansible.builtin.cron:
    name: "check dirs"
    minute: "*/5"
    hour: "*"
    job: "redis-cli -h 0.0.0.0 config set replica-read-only no && redis-cli -h 0.0.0.0 config set stop-writes-on-bgsave-error no"
  become_user: '{{ user_name }}'
  when: docker_setup == '1'

- name: configure mysql
  shell: mysql -u root -h 0.0.0.0 -p{{ mysql_root_pass }} -e "set global net_buffer_length=1000000;set global max_allowed_packet=1000000000;FLUSH PRIVILEGES;"
  when: docker_setup == '1'