set tabstop=4     " a tab is four spaces
set number        " always show line numbers
set ignorecase    " ignore case when searching
set hlsearch      " highlight search terms
set cursorline
colorscheme industry
